<header class="navigation">
  <a href="/" class="logo" title="ÄLG, a solitary moose." style="position: relative; top: 10px;">
    Dain Miller
<!--     <img src="/static/moose-1.png" alt="Moose"> -->
  </a>
<!--   <span style="float: left;
    margin-top: 20px;
    margin-left: 0;
    position: relative;
    left: -86px;
    font-size: 12px;
">
    Coach, Consultant, Investor
  </span> -->
  <nav>
    <ul>
<!--       <li><a href="/">home</a></li> -->
<!--                  <li class="no-bullet"><a href="http://startherefm.com">Check out StartHereFM media network</a></li> -->
<!--             <li><a href="/about">about</a></li> -->
      <li><a href="/archive">blog</a></li>
<!--       <li><a href="https://theachievementcoach.org" target="_blank">coaching</a></li> -->
<!--             <li><a href="/books">books</a></li> -->
<!--       <li><a href="/programs">courses</a></li> -->
<!--       <li><a href="/software">software</a></li> -->
      <li><a href="/media">media</a></li>
      <li class="no-bullet"><a href="/contact">contact</a></li>
<!--       <li class="no-bullet"><a href="/atom.xml">rss</a></li> -->
    </ul>
  </nav>
</header>
<br />
