<header class="navigation">
  <a href="/" class="logo" style="position: relative; top: 10px; color: #1b4994;">
    <strong>2012 - 2019 Blog Posts</strong>
  </a>
<!--   <span style="float: left;
    margin-top: 20px;
    margin-left: 0;
    position: relative;
    left: -86px;
    font-size: 12px;
">
    Coach, Consultant, Investor
  </span> -->
  <nav>
    <ul>
<!--       <li><a href="/">home</a></li> -->
<!--             <li><a href="/media">media</a></li> -->
<!--             <li><a href="/archive">blog</a></li> -->
<!--            <li class="no-bullet"><a href="/atom.xml">rss</a></li> -->
    </ul>
  </nav>
</header>
<br />
